@-webkit-keyframes offset {
    0% { -webkit-stroke-dashoffset: 0; }
}

@keyframes offset {
	100% 	{stroke-dashoffset: 0;}
}

@-webkit-keyframes selected {
  	0%		{ -webkit-background-color: #cbcbcb; -webkit-transform: scale3d(1, 1, 1);}
	50%		{ -webkit-transform: scale3d(1.05, 1.05, 1.05);}
	100%	{ -webkit-background-color: #9bbcc9; -webkit-transform: scale3d(1, 1, 1);}
}

@keyframes selected {
  	0%		{background-color: #cbcbcb; transform: scale3d(1, 1, 1);}
	50%		{transform: scale3d(1.05, 1.05, 1.05);}
	100%	{background-color: #9bbcc9; transform: scale3d(1, 1, 1);}
}

// Equaliser

$vulcan: #363a3b;
$iris-blue: #00aec9;

.play {
  position: relative;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

path {
  fill: $vulcan;
}

@for $i from 1 through 12 {
  .select__#{$i}{
    path:nth-child(-n+#{$i}) {
      fill: $iris-blue;
    }
  }
}