@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color: #e8e8e8;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.now-playing {
	max-width: 230px;
	border: 7px solid #fff;
	margin-top: 50px;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0 0 70px;
}

.connecting-lines svg {
	height: 100%;
}



