@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color: #e8e8e8;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.now-playing {
	max-width: 230px;
	border: 7px solid #fff;
	margin-top: 50px;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0 0 70px;
}

.connecting-lines {
	margin-top: -3px;
	width: 80%;
	left: 10%;
	position: absolute;
	z-index: -10;
	pointer-events: none;
}

.connecting-lines svg {
	height: 100%;
}

@keyframes offset {
	100% 	{stroke-dashoffset: 0;}
}

@keyframes selected {
  	0%		{background-color: #cbcbcb; transform: scale3d(1, 1, 1);}
	50%		{transform: scale3d(1.05, 1.05, 1.05);}
	100%	{background-color: #9bbcc9; transform: scale3d(1, 1, 1);}
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.cls-1 {
	fill: transparent;
	stroke: #9bbcc9;
	stroke-miterlimit:10;
	stroke-width: 3;
	animation: offset 0.5s linear normal;
	animation-fill-mode: forwards;
}


button {
	min-width: 150px;
	background-color: #cbcbcb;
	color: #fff;
	text-align: left;
	border-radius: 25px;
	border-width: 0;
	padding: 0;
	margin: 0  10px 20px 10px;
}

.selected {
	animation: selected 0.5s linear normal;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

button:focus {outline:0;}

button:hover {
	background-color: #c0c0c0;
}

button span {
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
}

button img {
	width: 22px;
	padding: 10px;
	vertical-align: middle;
}

@media screen and (max-width: 512px) {

	.button-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 50px 0 0 70px;
	}

	.connecting-lines {
		margin-left: 10%;
		width: 60px;
		left: 70px;
	}

	.connecting-lines svg {
		height: auto;
	}

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	.cls-1 {
		stroke-width: 6;
	}

}



